#customer_headline>h1{
    position: absolute;
    left: 10%;
    top: 15%;
}

#customerForm{
    position: absolute;
    top: 28%;
    left: 15%;
}

.form-control{
    width: 80px;
}

#customerId{
    width: 200px;
}

.mb-3:nth-child(2){
    position: absolute;
    bottom:-110%;
    left: 1.1%;
}

.mb-3:nth-child(3){
    position: absolute;
    top: 0;
    left: 55%;
}

.mb-3:nth-child(4){
    position: absolute;
    bottom: -110%;
    left: 55%;
}

#customerButton{
    position: absolute;
    right: -20%;
    top: 100px;
}

#customerButton>button{
    display: inline-block;
    margin-bottom: 10px;
    width: 100px;
    height: 35px;
    font-size: 22px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    align-items: center;
    color: black;
    text-align: center;
    padding: 0;


}

#customerButton>button:nth-child(1){
    background-color: #C08261;
}

#customerButton>button:nth-child(2){
    background-color: #C8AE7D;
}

#customerButton>button:nth-child(3){
    background-color: #BA704F;
}

.form-label{
    font-size: 18px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
}

hr{
    border: 2px solid black;
    width: 1150px;
    position: absolute;
    left: 10%;
    top: 55%;
}

#viewCustomers{
    position: absolute;
    bottom: 250px;
    left: 10%;
    top: 60%;
}
/*apply css table */

#customerTable{
    width: 1000px;
    position: absolute;
    left: 190px;
    top: 70%;
}

#customer_table_head>tr>th{
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0;
}

#customer_table_head>tr>th:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#customer_table_head>tr>th:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.table>tbody{
    font-size: 22px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}